.header__logo {
    width: 142px;
    margin-bottom: 40px;
}

@media screen and (max-width: 910px) {
    .header__logo {
        width: 104px;
        margin-left: 30px;
        margin-bottom: 31px;
    }
}