.profile__job {
    margin: 16px 0px 16px 0px;
    max-width: 318px;
    min-width: 318px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 910px) {
    .profile__job {
        max-width: 280px;
        margin: 0px 0px 36px 0px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
