.footer__copyright {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 910px) {
    .footer__copyright {
        margin-left: 19px;
    }
}