.popup__error {
    visibility: hidden;
    margin-top: 5px;
    min-height: 28px;
    margin-left: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}