.authform__field {
    margin-bottom: 30px;
    width: 358px;
    min-height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #000000;
    color: #cccccc;
    border: none;
    border-bottom: 2px solid #cccccc;
}


@media screen and (max-width: 910px) {
    .authform__field {
        width: 260px;
    }
}