.popup-avatar__title {
    margin: 34px auto 44px auto;
    width: 358px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 910px) {
    .popup-avatar__title {
        margin: 20px 0px 20px 20px;
        max-width: 185px;
        font-size: 17px;
    }
}