.popup-user__close-button {
    width: 41px;
    height: 41px;
    background-color: transparent;
    background-image: url(../../../images/close_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    margin-left: 465px;
}

.popup-user__close-button:hover {
    opacity: 0.7;
    transition: opacity 0.5s linear;
}

.popup-user__close-button:active {
    outline: none;
}

@media screen and (max-width: 910px) {
    .popup-user__close-button {
        position: relative;
        top: 10px;
        margin-left: 270px;
        background-size: 80%;
    }
}